body {
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
    background-color: #333;
}
.header {
    background-color: black;
    color: azure;
    height: 90px;
    text-align: center;
    font-size: 25px;
    align-items: flex-start;
    justify-content: flex-start;
}
.content{
    text-align: center;
    color: aliceblue;
}
.content h2{
    color: #ff6600;
    font-size: 30px;
}
.highlight{
    font-size: 25px;
    font-weight: 400;
}
p{
    font-size: 25px;
    font-weight: 400;
}
.myself{
    font-size: 25px;
    font-weight: 400;
}